#sidebar {
    float: left;
    width: 200px;
}

#content {
    float: left;
}

#history {
    float: right;
    width: 200px;
}

#session-toggle {
    margin-top: 10px;
    list-style-type: none;
}

#session-toggle li {
    display: none;
    cursor: pointer;
}

#session-toggle [class^="icon-"], [class*=" icon-"] {
    background-image: url("icons.png") !important;
}

#workspace {
    border: 1px solid black;
    width: 750px;
    height: 500px;
    overflow-x: scroll;
    position: relative;
}

.lictor-step {
    width: 300px;
    height: 450px;
    border: 1px solid black;
    margin: 0;
    position: absolute;
}

.lictor-step .title {
    height: 20px;
    background-color: #eeeeee;
    border-bottom: 1px solid black;
}
