#sidebar {
    float: left;
    width: 190px;
}

#content {
    float: left;
}

#history {
    float: right;
    width: 150px;
    height: 1000px;
}
#history li {
    padding-bottom: 10px;
}

.legend li {
    padding: 5px 5px 5px 0px;
}
.legend li div {
    padding: 3px;
}

#session-toggle {
    margin-top: 10px;
    list-style-type: none;
}

#session-toggle li {
    display: none;
    cursor: pointer;
}

#session-toggle [class^="icon-"], [class*=" icon-"] {
    background-image: url("icons.png") !important;
}

#workspace {
    width: 820px;
    height: 1000px;
    overflow-x: scroll;
    position: relative;
}

.lictor-step {
    width: 600px;
    height: 1000px;
    border: 1px solid #c4c4c4;
    margin: 0;
    position: absolute;
}

.lictor-step .title {
    height: 20px;
    background-color: #eeeeee;
    padding-left: 5px;
}

.lictor-step .content {
    background-color: white;   
    height: 97%;
    width: 100%;
    position: relative;
    overflow-x: scroll;
}

.lictor-step .loading {
    background-color: #eeeeee !important;
}

.lictor-block {
    height: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    background-color: white;

    border: 4px solid black;
    border-radius: 5px 5px;

    padding: 3px;
}

.legend-block {

}

.url {
    border: 4px solid gray !important;
}

.view {
    border: 4px solid blue !important;
}

.model {
    border: 4px solid brown !important;
}

.modelform {
    border: 4px solid red !important;
}

.form {
    border: 4px solid orange !important;
}

footer {
    margin: 40px 0px;
}