{% load static i18n %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} / Lictor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static "/static/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "/static/jquery.cookie.js" %}"></script>
        <link href="{% static "/static/screen.css" %}" rel="stylesheet" />
        <link href="{% static "/static/bootstrap/css/bootstrap.css" %}" rel="stylesheet" />
        <link href="{% static "/static/bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">
                            Lictor
                        </a>
                        <div class="nav-collapse">
                            <ul class="nav pull-left">
                                <li>{% include "lictor/session_toggle.html" %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
        <div class="container">
            {% block container %}{% endblock %}
        </div>
    </body>
</html>
