{% extends "lictor/base_with_sidebar.html" %}
{% load i18n %}

{% block title %}{% trans "Workspace" %}{% endblock %}

{% block sidebar %}
    <h4>Application</h4>
    <ul class="unstyled">
        {% for app in available_apps %}
            <li>
                <label for="{{ app }}" class="checkbox inline">
                    <input id="{{ app }}" value="{{ app }}" name="app" type="checkbox" checked="checked" /> <span>{{ app }}</span>
                </label>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div id="workspace"></div>
{% endblock %}

{% block history %}
    <h4>History</h4>
    <ul id="history-step" class="unstyled"></ul>
{% endblock %}

