{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="float:right">
    <a href="{% url lictor-workspace%}"><img style="padding:2px;border:dotted 2px gray" src="{% static "/static/screenshots/lictor_thumbnail.png" %}" /></a><br />
	Goto <b>lictor</b> workspace and click to<br /> "<span style="color:red">Start session</span>", later surf the your<br /> django-project and look a results in <b>lictor</b>!
</div>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" />
    </form>
</div>
<div>
    <ul>
        {% for film in object_list %}
            <li>
                <h3>{{ film.title }}</h3>
                {# <p>{{ film.description }}</p> #}
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
                <a href="{% url films-paged page=page_obj.previous_page_number %}">Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a href="{% url films-paged page=page_obj.next_page_number %}">Next</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
